# Local Docker postgres — overrides .env for development only
POSTGRES_URL=postgresql://postgres:password@localhost:5433/{replace-with-db-name and remove curlys}

NEXT_PUBLIC_SERVER_URL=http://localhost:3000
